<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Here</title>
</head>
<body>
    <form action="/register" method="POST">
        <div>
            <label for="username">Enter Username</label>
            <input type="text" name="username" id="username" placeholder="Enter username">
        </div>
        <div>
            <label for="password">Enter Password</label>
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <button>Sign up</button>
    </form>
</body>
</html>